### 7장 리스트와 튜플

In [1]:
kbo = []
kbo.append('twins')
print(kbo)
print(type(kbo))

['twins']
<class 'list'>

In [2]:
kbo.append('bears') #인자는 하나만!
print(kbo)

['twins', 'bears']

In [3]:
kbo = kbo + ['eagles'] #두개의 리스트를 이어.
print(kbo)

['twins', 'bears', 'eagles']

In [4]:
a = [1,2,3,4]
b = [5,6,7,8]

a.append(b) #리스트 전체가 리스트 요소에 추가됨
print(a)

c = [1,2,3,4]
d = [5,6,7,8]
print(c + d)

[1, 2, 3, 4, [5, 6, 7, 8]]
[1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
a = list(range(10)) #리스트 자료형을 만든다. 리스형으로 캐스팅한다.
print(type(a))
a

<class 'list'>

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
a = [1,2,3]
b = [4,5,6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [10]:
x = [1,2,3]*3
print(x)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [11]:
from traceback import print_tb


자연 =  ['꽃','풀','물']
if '꽃' in 자연:
    print('꽃이 좋아요')
if '사람' not in 자연:
    print('노사람')

꽃이 좋아요
노사람

In [12]:
alist = [1,20,100,300]
len(alist)

4

In [13]:
max(alist)

300

In [14]:
sum(alist)

421

In [15]:
any(alist) #0또는 공백문자가 아닌게 하나라도 있으면 True 반환

True

In [16]:
a = [1,2,3,4,5]
a[0]

1

In [17]:
a[0] + a[4]

6

In [18]:
a[-1]

5

In [19]:
a[-1] + a[-5]

6

In [20]:
a = [1,2,3,['a','b','c']]
len(a)

4

In [21]:
a[-1]

['a', 'b', 'c']

In [22]:
a[3]

['a', 'b', 'c']

In [23]:
a[3][-1]

'c'

In [24]:
blist = [1, 2, ['a', 'b', ['Cary', 'Grant']]]
blist[2][2][0]

'Cary'

In [53]:
a = [1,2,3,4,5,6,7,8,9]
a[0:3] #list[어디서 부터: 어디까지 -1]

[1, 2, 3]

In [26]:
a[3:8] #슬라이싱을 하더라도 원본은 바뀌지 않음

[4, 5, 6, 7, 8]

In [27]:
a[0:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
a[2:] #어디부터 끝까지

[3, 4, 5, 6, 7, 8, 9]

In [29]:
a[:5] #처음부터 어디까지

[1, 2, 3, 4, 5]

In [31]:
a[0:9:2] #어디부터 어디까지 두칸씩 띄어서

[1, 3, 5, 7, 9]

In [32]:
a[::-1] #뒤에서 부터읽는데 그 구간을 잘 설정해줘야 한다.

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [54]:
print(a[9::-1])
print(a[9:0:-1])
print(a[-1:-10:-2])
print(a[-1::-2])
sum(a[-1::-2])

[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4, 3, 2]
[9, 7, 5, 3, 1]
[9, 7, 5, 3, 1]

25

In [42]:
# 중첩리스트 역시 슬라이싱 방법은 똑같이 적용된다.
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [51]:
print(a[3][0:2])
print(a[3][-1::-1])
print(a[3][2::-1])

['a', 'b']
['c', 'b', 'a']
['c', 'b', 'a']

In [52]:
clist = ['김', '이', '박']
clist[0] = '최'
clist

['최', '이', '박']

In [55]:
clist[1:3] = ['고','엄']
clist

['최', '고', '엄']

In [56]:
a = [1,2,3,4,5]
del a[2] #3번째 원소를 삭제
a

[1, 2, 4, 5]

In [57]:
del a[2:]
a

[1, 2]

In [58]:
# insert()
a = [1,1,1,1,1]
a.insert(5,0)
a

[1, 1, 1, 1, 1, 0]

In [59]:
b = [1,1,1,1,1]
b.insert(1,0)
b

[1, 0, 1, 1, 1, 1]

In [60]:
a = [1,2,3,4,5]
a.remove(3)
a

[1, 2, 4, 5]

In [61]:
b = [1,2,3,3,4,5,3]
b.remove(3) #첫 번째 3 만 사라짐/ 인자가 위치가아니라 값이다.
b

[1, 2, 3, 4, 5, 3]

In [62]:
for i in b:
    if 3 in b:
        b.remove(3)
b

[1, 2, 4, 5]

In [64]:
#pop() 리스트에서 맨 마지막 요소를 반환하고, 그 요소를 삭제
a = [1,2,3,4,5]
print(a.pop())
a

5

[1, 2, 3, 4]

In [65]:
a = [1,2,3,4,5]
print(a.pop(3)) #4번째 원소를 팝팝팝
a

4

[1, 2, 3, 5]

In [67]:
#리스트간 할당 연산자 사용
alist = [1,2,3,4,5]
blist = alist
print(id(alist))
id(blist)
#주소값이 같다. 일반 변수는 이렇지 않다!

2520299059648

2520299059648

In [68]:
alist[0] = 100
print(alist)
blist

[100, 2, 3, 4, 5]

[100, 2, 3, 4, 5]

In [70]:
alist = [1,2,3,4,5]
blist = alist[:]
print(id(alist))
id(blist)
#다른 주소값을 가진다.

2520293985984

2520283733696

In [71]:
alist = [1,2,3,4,5]
blist = list(alist)
print(id(alist))
id(blist)
#주소값이 다르더라!

2520299071232

2520299159680

In [74]:
#index() 값을 입력하면 인덱스를 반환
b = ['Twins', 'Bears', 'Heros', 'Twins']
if 'Landers' in b:
    print(b.index('Twins'))

0

In [75]:
b.count('Twins')

2

In [81]:
a = [1,2,3,4,5]
a.reverse()
a

[5, 4, 3, 2, 1]

In [82]:
a = [1,3,5,7,2,4,6,8]
a.sort() #꼭 원소들의 타입이 맞아야한다
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [83]:
a = [1,3,5,7,2,4,6,8]
new_a = sorted(a) #원본 데이타를 바꾸는 것이아니다.
print(new_a)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 2, 4, 6, 8]

In [86]:
a = [1,3,5,7,2,4,6,8]
new_a = sorted(a, reverse = True) 
print(new_a)
print(a)

[8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 2, 4, 6, 8]

In [87]:

#기존방식
s =[]
for i in [1,2,3,4,5]:
    s.append(i**2)
print(s)

[1, 4, 9, 16, 25]

In [88]:
# 리스트 함축(리스트의 조건 제시법) like 집합
s = [i**2 for i in [1,2,3,4,5]]
print(s)

[1, 4, 9, 16, 25]

In [91]:
alist = [i for i in range(100)]
print(alist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [92]:
s = 'cary grant'
clist = [i.upper() for i in s]
print(clist)

['C', 'A', 'R', 'Y', ' ', 'G', 'R', 'A', 'N', 'T']

In [93]:
alist = ['welcome','to','the','python','world']
blist = [x[0].upper() for x in alist]
print(blist)

['W', 'T', 'T', 'P', 'W']

In [94]:
blist = ['Cary','Grant','12345','323-7787','07034','123.45']
numbers = [x for x in blist if x.isdigit()]
#마지막 원소에서 점(.) 은 숫자가 아니다.
print(numbers)
#44 페이지까지

['12345', '07034']

### 튜플

In [3]:
t1 = ()
type(t1)

tuple

In [5]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b',('ab','cd'))
print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))
print(type(t5))

print(len(t5))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
3

#### 튜플은 값을 지우고 변경하는 것이 불가능

In [6]:
t1 = (1,2,3,4,5)
t1[0]

1

In [7]:
t1[4]

5

In [9]:
t1[-1]

5

In [10]:
t1[2:5] #리스트에서의 슬라이싱 처럼 작동한다.

(3, 4, 5)

In [11]:
t2 = (1,2,'1','b')
t3=(100,200)
t2 + t3

(1, 2, '1', 'b', 100, 200)

In [12]:
t3*3

(100, 200, 100, 200, 100, 200)

In [15]:
from lib2to3.pgen2.token import CIRCUMFLEX
import math
def cal_circle(r):
    area=math.pi * pow(r, 2)
    circum = 2 * math.pi * r
    return (area, circum) #각각 주고받아도 되고 리스트로 주고 받아도 되고

radius = float(input("반지름을 입력 하라:"))
(a, c) = cal_circle(radius)
print(f'{a},{c}')

78.53981633974483,31.41592653589793