### 딕셔너리
#### key를 통해 value를 얻는다.

In [1]:
dic = {'문':1, '유':2, '김':3}
dic['문']

1

In [2]:
dic

{'문': 1, '유': 2, '김': 3}

In [3]:
del dic['문']# 요소삭제
dic

{'유': 2, '김': 3}

In [4]:
dic.clear() #모든 항목을 제거
dic

{}

In [8]:
dic2 = {'name':'Aaron Judge', 99: 6, 'Hits': 166, 'HR': [52, 27, 39, 59], 'Hits': 157}
#키값이 중복되면 하나를 제외한 나머지 것은 모두 무시
print(dic2)

print(dic2['Hits'])

{'name': 'Aaron Judge', 99: 6, 'Hits': 157, 'HR': [52, 27, 39, 59]}
157

In [6]:
dic1 = {'name':'Aaron Judge', 99: 6, 'Hits': 166, 'HR': [52, 27, 39, 59]}
print(type(dic1.keys())) #키를 반환
print(dic1.keys())

<class 'dict_keys'>
dict_keys(['name', 99, 'Hits', 'HR'])

In [7]:
dic1 = {'name':'Aaron Judge', 99: 6, 'Hits': 166, 'HR': [52, 27, 39, 59]}
print(type(dic1.keys()))
print(list(dic1.keys())) #dict_keys 객체사용 보단 list로 캐스팅해서 사용하는 것이 편리하다.

<class 'dict_keys'>
['name', 99, 'Hits', 'HR']

In [8]:
dic1 = {'name':'Aaron Judge', 99: 6, 'Hits': 166, 'HR': [52, 27, 39, 59]}
print(type(dic1.values()))
print(dic1.values())

<class 'dict_values'>
dict_values(['Aaron Judge', 6, 166, [52, 27, 39, 59]])

In [9]:
dic1 = {'name':'Aaron Judge', 99: 6, 'Hits': 166, 'HR': [52, 27, 39, 59]}
print(type(dic1.values()))
print(list(dic1.values()))

<class 'dict_values'>
['Aaron Judge', 6, 166, [52, 27, 39, 59]]

In [10]:
dic1 = {'name':'Aaron Judge', 99: 6, 'Hits': 166, 'HR': [52, 27, 39, 59]}
print(type(dic1.items()))
print(dic1.items())
print(list(dic1.items()))

<class 'dict_items'>
dict_items([('name', 'Aaron Judge'), (99, 6), ('Hits', 166), ('HR', [52, 27, 39, 59])])
[('name', 'Aaron Judge'), (99, 6), ('Hits', 166), ('HR', [52, 27, 39, 59])]

In [13]:
twins = {'bokyung moon': 0.325, 'sungjoo moon': 0.311, 'eunsung choi': 0.311, 'haemin park': 0.294, 'changgi hong': 0.291, 'hyunsoo kim': 0.276, 'jihwan oh': 0.265}
for k in twins.keys():
    print(k, ':', twins[k])

bokyung moon : 0.325
sungjoo moon : 0.311
eunsung choi : 0.311
haemin park : 0.294
changgi hong : 0.291
hyunsoo kim : 0.276
jihwan oh : 0.265

In [14]:
abc = sorted(twins) # 키를 정렬하여 리스트로 반환
print(type(abc))
print(abc) #이것을 활용하여 인덱싱

<class 'list'>
['bokyung moon', 'changgi hong', 'eunsung choi', 'haemin park', 'hyunsoo kim', 'jihwan oh', 'sungjoo moon']

In [15]:
for i in abc:
    print(i, ':', twins[i]) #소팅돼서 출력

bokyung moon : 0.325
changgi hong : 0.291
eunsung choi : 0.311
haemin park : 0.294
hyunsoo kim : 0.276
jihwan oh : 0.265
sungjoo moon : 0.311

In [16]:
print(twins.get('changgi hong')) #키값으로 벨류를 얻음
print(twins.get('yonghoon choi')) #없는 것은 none로

0.291
None

pop(key) 출력후 삭제

### set (서순이 없는 자료형)

In [18]:
a = {} #집합이 아니라 빈 딕셔너리 생성한다.
b = {3,2,1,4} #집합
c = {'cool','koyote','finkl'} #집합
print(b) #내가 입력한 순서로 관리 안함

{1, 2, 3, 4}

In [19]:
d = {1,1,2,2,3,3,3,4,5,6,6,6}
d # 중복을 허용하지 않는다.

{1, 2, 3, 4, 5, 6}

In [21]:
a = set() # 공집합 만들기
print(a)
type(a)

set()

set

In [22]:
set([3,4,2,5,3,1,1,4]) #리스트로 부터 집합 생성

{1, 2, 3, 4, 5}

In [23]:
set('hello') # 문자열로 부터 집합 생성

{'e', 'h', 'l', 'o'}

In [24]:
a = {2, 3, 4, 1}
if 1 in a:
    print('1 is in set a.')

1 is in set a.

In [14]:
aset = {'a', 'f', 'c', 'd', 'b'}
for i in aset: #for 문 사용
    print(i)

c
a
f
b
d

In [26]:
aset = {'a', 'f', 'c', 'd', 'b'}
for i in sorted(aset): #소팅해서 출력 -> 소팅을 하게되면 리스트 자료형
    print(i)

a
b
c
d
f

인덱싱과 슬라이싱이 안된다.

In [28]:
a = {1,2,3}
a.add(4)
a

{1, 2, 3, 4}

In [29]:
a.remove(3)
a

{1, 2, 4}

In [30]:
A = {1,2,3}
B = {2,3,1}
A==B

True

In [31]:
A = {1,2,3,4,5}
B = {2,3,1}
B<=A # 진부분집합의 표시

True

In [32]:
B<A

True

In [33]:
B>=A

False

len(), max(), min(), sorted(), sum() 사용가능

In [35]:
a = {1,2,3,4,0}
all(a)#모두 참일 때 투루

False

In [36]:
any(a)# 하나라도 투루면 투루

True

In [37]:
A = {1,2,3,4,5}
B = {2,3,1}

A|B #합집합

{1, 2, 3, 4, 5}

In [38]:
A&B #교집합

{1, 2, 3}

In [40]:
print(A.difference(B))
A - B #차집합

{4, 5}

{4, 5}

In [41]:
print(A.symmetric_difference(B))
print((A|B) - (A&B))
A ^ B # 대칭 차집합 (합집합-교집합)

{4, 5}
{4, 5}

{4, 5}

### 파일 입출력

In [43]:
f = open('new_file.txt','w') #쓰기용으로 열기
f.write("only english")
f.close()

In [44]:
f = open('new_file.txt', 'w')
f.write('Cary Grant is an American actor.\n')
for i in range(1, 11):
    f.write('{}\n'.format(i))
f.close()

In [45]:
f = open('new_file.txt', 'r')
data = f.read() #readline() 매서드는 라인별로 읽어들인다.
print(data)
f.close()

Cary Grant is an American actor.
1
2
3
4
5
6
7
8
9
10